<div>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!recipeForm.valid"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Name"
          type="text"
          id="name"
          formControlName="name"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Image URL"
          type="text"
          id="imagePath"
          formControlName="imagePath"
          #imagePath
        />
      </mat-form-field>
    </div>

    <div>
      <img [src]="imagePath.value" class="img-responsive">
    </div>

    <div>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          type="text"
          id="description"
          formControlName="description"
          rows="6"
        ></textarea>
      </mat-form-field>
    </div>

    <div formArrayName="ingredients">
      <div
        *ngFor="let ingredientCtrl of getControls(); let i = index"
        [formGroupName]="i"
        style="margin-top: 10px;">

        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="name">
        </mat-form-field>


        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="amount">
        </mat-form-field>


        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDeleteIngredient(i)">X
        </button>

      </div>
      <hr>
      <div>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onAddIngredient()"
        >
          Add Ingredient
        </button>
      </div>
    </div>
  </form>
</div>

