<div class="row">
  <div class="col-xs-12">
    <img
      [src]="(recipes$| async)[id].imagePath "
      alt="{{ (recipes$| async)[id].name  }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ (recipes$ | async)[id].name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div ngbDropdown appDropdown class="d-inline-block">
      <button type="button" class="btn btn-primary" ngbDropdownToggle>Manage Recipe</button>
      <div ngbDropdownMenu>
        <button class="dropdown-item" (click)="onAddToShoppingList()">
          To Shopping List
        </button>
        <button class="dropdown-item" (click)="onEditRecipe()">
          Edit Recipe
        </button>
        <button class="dropdown-item" (click)="onDeleteRecipe()">
          Delete Recipe
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ (recipes$ | async)[id].description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of (recipes$ | async)[id].ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
