<mat-card>
  <form (ngSubmit)="onSignup(f)" #f="ngForm" class="form-container">
    <mat-form-field>
      <input
        matInput
        placeholder="Mail"
        type="email"
        id="email"
        name="email"
        required
        ngModel
      ></mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        id="password"
        name="password"
        required
        ngModel
      ></mat-form-field>
    <button
      mat-raised-button
      type="submit"
      [disabled]="!f.valid"
      color="primary"
    >Sign Up</button>
  </form>
</mat-card>
