<mat-toolbar class="nav-container" color="primary">
  <a mat-button routerLink="/"><h1>Recipe Book</h1></a>
  <a mat-button routerLink="/recipes" routerLinkActive="active">Recipes</a>
  <a mat-button routerLink="/shopping-list" routerLinkActive="active">Shopping</a>

  <span class="spacer"></span>

  <div>
    <ng-template [ngIf]="!(isAuthenticated$ | async)">
      <a mat-button routerLink="/signup" routerLinkActive="active">Register</a>
      <a mat-button routerLink="/signin" routerLinkActive="active">Login</a>
    </ng-template>

    <a mat-button (click)="onLogout()" *ngIf="isAuthenticated$ | async">Logout</a>

    <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated$ | async">Manage</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onFetchData()">Save Data</button>
      <button mat-menu-item (click)="onFetchData()">Fetch Data</button>
    </mat-menu>
  </div>
</mat-toolbar>
