<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-container">
  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="Name"
      type="text"
      id="name"
      name="name"
      required
      ngModel
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="Amount"
      type="number"
      id="amount"
      name="amount"
      required
      ngModel
      pattern="^[1-9]+[0-9]*$"
    />
  </mat-form-field>

  <div class="full-width">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!f.valid"
    >
      {{ editMode ? 'Update' : 'Add' }}
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="onDelete()"
      *ngIf="editMode"
    >
      Delete
    </button>
    <button
      mat-raised-button
      type="button"
      (click)="onClear()"
    >
      Clear
    </button>
  </div>
</form>
